body { font-family: Arial, Helvetica, sans-serif; }

#container { width: 90%; margin:0 auto; }

h1 { text-align: center; }

h2 { padding-top: 20px; }

h3 { padding: 10px 0px 0px 20px; }

ul { margin-top: 0px; padding-top: 0px; }

li { padding-top: 6px; }

